.history
.vscode
.

echo "# Data_eng_sql" >> README.md
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/MungaiMwangi001/Data_eng_sql.git
git push -u origin main